body {
	background-color: #A9A9A9;
	background-repeat: no-repeat;
	background-position: top-center;
	background-attachment: fixed;
	background-size: 100%;
}

div.logo {
	width: 240px;
	height: 100px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
}

img.logo {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
}

div.mainback {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1150px;
	height: 545px;
	position: relative;
	background-color: #F0F0F0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: center;
}

div.taskbar {
	/*	white-space: nowrap;*/
	height: 70px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	position: relative;
	/*	margin-right:0px;
						padding-right:0px;*/
}

div.header {
	width: 840px;
	height: 100%;
	float: left;
	padding-top: 0px;
}

h1.header {
	padding: 0px;
	padding-top: 17px;
	padding-left: 20px;
	margin: 0px;
	float: left;
	font-family: "Boulder";
	font-weight: lighter;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.main {
	width: 99%;
	height: 460px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 10px;
	margin-bottom: 2%;
	background-color: #A9A9A9;
	position: relative;
	-moz-border-radius: 15px;
	border-radius: 15px;
	vertical-align: bottom;
}

div.button {
	width: 200px;
	height: 50px;
	float: right;
	margin-top: 8px;
	margin-right: 52px;
	border: 3px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

h2 {
	font-family: "Boulder";
	font-weight: lighter;
	margin-top: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/*	p{
						font-family:"Baskerville";
						font-size:17px;
						padding:7px;
						display:inline;
						text-indent:0px;
						}*/
div.textblock {
	background-color: #F0F0F0;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: justify;
	text-indent: 50px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Baskerville";
	font-size: 17px;
}

div.code {
	background-color: #F0F0F0;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	-moz-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: left;
	text-indent: 0px;
	padding-right: 10px;
	padding-left: 50px;
	font-family: "Verdana";
	font-size: 17px;
}

div.example {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 700px;
	text-align: center;
	padding-right: 50px;
	font-family: "Arial Black";
	font-size: 17px;
}
/*
						font-family:"Baskerville";
						font-size:17px;
						clear:left;
						display:inline;
						text-indent:0px;
						margin-left:50px;
						}	*/
li {
	font-family: "Baskerville";
	text-align: justify;
	padding-left: 0px;
	font-size: 17px;
	padding-right: 7px;
}

ul {
	text-indent: 0px;
}

span.highlight {
	display: inline;
	padding: 0px;
	margin: 0px;
	color: blue;
	text-decoration: underline;
	text-align: justify;
}

span.indent1 {
	padding-left: 40px;
	display: inline-block;
}

span.indent2 {
	padding-left: 80px;
	display: inline-block;
}

/*h3{
						display:inline;
						font-size:35px;
						}*/
div.content {
	width: 837px;
	height: 445px;
	float: left;
	overflow-y: auto;
}

div.realcontent {
	width: 99%;
	height: 100%;
	float: left;
}

div.menu {
	width: 300px;
	height: 445px;
	float: right;
}

div.button2 {
	float: center;
	border: 3px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 200px;
	height: 50px;
	padding: 0xp;
	margin: 20px;
	background-color: #F0F0F0;
}

.button:link {
	text-decoration: none;
	color: black;
}

.button:visited {
	cursor: pointer;
	text-decoration: none;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button2:link {
	text-decoration: none;
	color: black;
}

.button2:visited {
	cursor: pointer;
	text-decoration: none;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button2:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button3:link {
	text-decoration: none;
	color: black;
}

.button3:visited {
	cursor: pointer;
	text-decoration: none;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button3:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button4:link {
	text-decoration: none;
	color: black;
}

.button4:visited {
	cursor: pointer;
	text-decoration: none;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button4:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button5:link {
	text-decoration: none;
	color: black;
}

.button5:visited {
	cursor: pointer;
	text-decoration: none;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button5:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div.loginbox {
	width: 500px;
	height: 440px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
	border: 2px solid;
	border-color: #A9A9A9;
}

img.usericon {
	z-index: 5;
	float: left;
	width: 110px;
	margin-top: 5px;
	margin-left: 20px;
}

div.title {
	width: 100%;
	height: 70px;
	margin-bottom: 0px;
	background-color: #F0F0F0;
	border-color: 99CCFF;
	-moz-border-radius: 11px;
	border-top-left-radius: 11px;
	-moz-border-radius: 11px;
	border-top-right-radius: 11px;
}

h1.header2 {
	padding: 0px;
	padding-top: 17px;
	padding-left: 38px;
	margin: 0px;
	float: left;
	font-family: "Boulder";
	font-weight: lighter;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.border {
	height: 295px;
	border: 5px solid;
	border-color: #F0F0F0;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
	-moz-border-radius: 15px;
}

div.logcontent {
	background-color: #A9A9A9;
	width: 100%;
	height: 85%;
	margin-top: 13%;
	border: 4px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div.left {
	width: 15%;
	height: 100%;
	float: left;
	margin-top: 1px;
}

div.right {
	width: 85%;
	height: 100%;
	float: right;
}

div.logform {
	width: 100%;
	height: 203px;
	position: relative;
	margin-top: 0px;
	padding-top: 50px;
	margin-left: 0px;
	padding-right: 50px;
	padding-left: 0px;
	position: relative;
}

p.logp {
	font-size: 24px;
	font-family: "Boulder";
	float: left;
	padding: 0px;
	margin: 14px;
	margin-left: 90px;
}

input {
	width: 200px;
	height: 40px;
	margin: 5px;
	font-family: "Boulder";
	font-size: 23px;
	margin: 10px;
	margin-left: 50px;
	text-align: left;
	padding-left: 10px;
}

div.button3 {
	float: left;
	border: 3px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 140px;
	height: 50px;
	margin-top: 15px;
	padding: 0xp;
	background-color: #F0F0F0;
	position: relative;
	margin-left: 15px;
}

div.button4 {
	float: right;
	border: 3px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 140px;
	height: 50px;
	margin-top: 15px;
	margin-right: 90px;
	padding: 0xp;
	background-color: #F0F0F0;
	position: relative;
}

div.space {
	height: 120px;
	width: 10px;
}

div.lesson {
	background-color: #F0F0F0;
	height: 62px;
	padding-top: 5px;
	padding-bottom: 1px;
	padding-right: 10px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: left;
	font-family: "Baskerville";
	font-size: 17px;
}

div.button5 {
	float: right;
	border: 3px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 200px;
	height: 50px;
	padding: 0xp;
	margin: 0px;
	margin-top: 1px;
	background-color: #F0F0F0;
	text-align: center;
}

h2.lessontitle {
	font-family: "Boulder";
	font-weight: lighter;
	margin-top: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	padding: 0px;
	margin: 0px;
	padding-top: 15px;
}

div.lt {
	width: 540px;
	float: left;
}

div.innerright {
	width: 100%;
	height: 30%;
	float: left;
	padding-left: 28px;
	margin-top: 20px;
}

button {
	font-size: 20px;
	font-family: "Baskerville";
	border: 3px solid;
	border-color: 99CCFF;
	width: 130px;
	height: 50px;
	margin-left: 110px;
	background-color: #F0F0F0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: left;
}

button:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

button.logout {
	font-family: "Boulder";
	font-weight: lighter;
	margin-top: 12px;
	font-size: 25px;
	border: 3px solid;
	border-color: 99CCFF;
	width: 207px;
	height: 55px;
	margin-left: 20px;
	background-color: #F0F0F0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: right;
	margin-right: 52px;
	margin-top: 8px;
}

button.logout:hover {
	cursor: pointer;
	background-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/
*	div.title {
	background-color: #F0F0F0;
	-moz-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-top-left-radius: 15px;
	border-top-left-radius: 0px;
	font-family: "Baskerville";
	font-size: 17px;
	text-align: left;
	padding: 0px;
	padding-top: 8px;
	padding-left: 15px;
	margin-bottom: 10px;
}

/
*	h2.title {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 520px;
	padding-top: 18px;
}

div.button5 {
	float: right;
	border: 3px solid;
	border-color: 99CCFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 200px;
	height: 50px;
	padding: 0xp;
	margin: 0px;
	margin-right: 50px;
	margin-top: 3px;
	background-color: #F0F0F0;
	text-align: center;
}

h2.button {
	font-family: "Boulder";
	font-weight: lighter;
	margin-top: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.list {
	width: 100%;
}

input.q {
	width: 15px;
	height: 15px;
}

div.innerright2 {
	width: 50%;
	height: 30%;
	float: left;
	margin-top: 20px;
	padding-left: 49%;
}

input.add {
	width: 300px;
	height: 40px;
	margin: 6px;
	font-family: "Boulder";
	font-size: 23px;
	margin: 10px;
	margin-left: 0px;
	text-align: left;
	padding-left: 10px;
}